/* 변수 */
:root{
    --main-bg-color: rgb(250, 250, 250);
    --main-theme-color: gray;
    --main-font-color: gray;
    --contents-font-color: black;
    --highlight-color: blue;
    --adm-color: pink;
}

/* 태그별 스타일 */

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    row-gap: 5px;
    column-gap: 5px;
    gap: 0px;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* 전체 구성에 관한 스타일 */

#header{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    height: 10vh;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--main-theme-color);
}

#sidebar{
    grid-row: 2;
    grid-column: 1;
    padding: 10px;
    min-height: 80vh;
    max-height: 80vh;
    border-right: 2px solid var(--main-theme-color);
    overflow: auto;
    text-align: left;
}

#contents{
    grid-row: 2;
    grid-column: 2;
    padding: 10px;
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;
}

#footer{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    border-top: 2px solid black;
}

/* 헤더 관련 스타일 */

#headButton{
    color: var(--main-theme-color);
    margin-left: 10px;
}

#headButton:hover{
    color: black;
    font-weight: bold;
}

#headTitle:hover{
    color: var(--highlight-color);
    font-weight: bold;
    cursor: pointer;
}

#headName{
    font-weight: bold;
}

.headInput{
    width: 30px;
    text-align: right;
    color: var(--main-theme-color);
}

.headInput:focus{
    color: black;
}

/* 사이드바 관련 스타일 */

.bookList:hover{
    color: var(--highlight-color);
    font-weight: bold;
    cursor: pointer;
}

/* 볼륨 선택 관련 스타일 */
.volume{
    display: inline-block;
    margin: 3px 5px;
    padding: 2px 10px;
    border: 1px solid var(--main-theme-color);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.volume:hover{
    color: var(--highlight-color);
    font-weight: bold;
    cursor: pointer;
}

/* 컨텐츠 관련 스타일 */

#contentContainer{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#contentPrev{
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    margin-top: 40vh;
    font-size: 60px;
    
}

#contentPrev:hover{
    color: var(--highlight-color);
    font-weight: bold;
    cursor: pointer;
}

#contentNext{
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    margin-top: 40vh;
    font-size: 60px;
    
}
#contentNext:hover{
    color: var(--highlight-color);
    font-weight: bold;
    cursor: pointer;
}

#contentLine{
    grid-row: 1;
    grid-column: 2;
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;
    padding: 0 10px;
    color: var(--contents-font-color);
}

.lineBtn{
    cursor: pointer;
    font-size: 10px;
}

.c_section{
    font-weight: bold;
    font-size: 20px;
}
