
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
    row-gap: 5px;
    column-gap: 5px;
}

#header{
    grid-row: 1;
    grid-column: 1/2;
    /* 영역구분용 색상 */
    background-color: lightgray;
}

#sidebar{
    grid-row: 2;
    grid-column: 1;
    /* 영역구분용 색상 */
    background-color: lightblue;
}

#contents{
    grid-row: 2;
    grid-column: 2;
    /* 영역구분용 색상 */
    background-color: lightsalmon;
}
