{% extends 'indexAdmin.html' %}

{% block content %}
    <script>
        // 컨텐츠 수정 관련
        function changeInput(lineId){
            // content를 input으로 변경
            let target = document.getElementById('box' + lineId)
            let content = target.innerText
            target.outerHTML = "<input id='box" + lineId + "' value='" + content + "'/>"
// a태그 무력화 (아직 안됨)
            let aTag = target.parentElement
            aTag.outerHTML = target.outerHTML
            // 수정버튼의 기능 변경
            let targetBtn = document.getElementById('modvol' + lineId)
            targetBtn.onclick = ()=>{changeVolume(lineId)}
            targetBtn.innerText = '✅'
        }

        function changeVolume(lineId){
            let targetBtn = document.getElementById('modvol' + lineId)
            imWorking(targetBtn)
            let volume = document.getElementById('box' + lineId).value
            let data = {
                'newVolume' : volume
            }
            let targetURL = "/update/{{bookInfo['name']}}/{{bookInfo['volume']}}/"
            postAPI(targetURL, data)
        }

        function deleteVolume(lineId){
            if(!confirm('볼륨을 삭제하시겠습니까?')){
                return
            }
        }
    </script>
    <ul>
        {% for volume in volumes %}
            <li class="volume">
                <a href="/admin/{{bookInfo['name']}}/{{volume}}"><span id="box{{loop.index}}">{{volume}}</span></a><br>
                <span id="modvol{{loop.index}}" class="lineBtn" onclick="changeInput('{{loop.index}}')">✏️</span>
                <span id="delvol{{loop.index}}" class="lineBtn" onclick="deleteVolume('{{loop.index}}')">❌</span>
            </li>
        {% endfor %}
        <li class="volume">➕</li>
    </ul>
{% endblock %}
