{% extends 'index.html' %}

{% block content %}
<div id="contentContainer">
    {% if bookInfo['volume'] <= 1 %}
    <div id="contentPrev"><span onclick="noExistPage(0)">《</span></div>
    {% else %}
    <div id="contentPrev"><a href="/read/{{bookInfo['name']}}/{{bookInfo['volume']-1}}">《</a></div>
    {% endif %}
    <div id="contentLine">
        {% for content in contents %}
        <p class="c_line" id="c_{{loop.index}}">&nbsp;{{content}}</p>
        {% endfor %}
    </div>
    {% if bookInfo['volume'] >= bookInfo['lastVolume'] %}
    <div id="contentNext"><span onclick="noExistPage(1)">》</span></div>
    {% else %}
    <div id="contentNext"><a href="/read/{{bookInfo['name']}}/{{bookInfo['volume']+1}}">》</a></div>
    {% endif %}
</div>
<script>
    findLine()
    setScrollEvent()
    setSpaceEvent()
    moveLine(bookInfo['line'])
    setSection()
</script>
{% endblock %}
