{% extends 'indexAdmin.html' %}

{% block content %}
<div id="contentContainer">
    {% if bookInfo['volume'] <= 1 %}
    <div id="contentPrev"><span onclick="noExistPage(0)">《</span></div>
    {% else %}
    <div id="contentPrev"><a href="/admin/{{bookInfo['name']}}/{{bookInfo['volume']-1}}">《</a></div>
    {% endif %}
    <div id="contentLine">
        <div id="modAllDiv"><button id="modAllBtn" onclick="modifyVolume()">전체 수정</button></div>
        {% for content in contents %}
        <p id="c_{{loop.index}}" class="c_line">
            <span id="boxline{{loop.index}}">&nbsp;{{content}}</span>
            <span id="modline{{loop.index}}" class="lineBtn" onclick="changeInput('line','{{loop.index}}')">✏️</span>
            <span id="delline{{loop.index}}" class="lineBtn" onclick="deleteTarget('line','{{loop.index}}')">❌</span>
        </p>
        {% endfor %}
    </div>
    {% if bookInfo['volume'] >= bookInfo['lastVolume'] %}
    <div id="contentNext"><span onclick="noExistPage(1)">》</span></div>
    {% else %}
    <div id="contentNext"><a href="/admin/{{bookInfo['name']}}/{{bookInfo['volume']+1}}">》</a></div>
    {% endif %}
</div>
<script>
    findLine()
    setScrollEvent()
    setSpaceEvent()
    moveLine(bookInfo['line'])
    setSection()
</script>
{% endblock %}
