<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if bookInfo %}
        <title>eBookReader - {{bookInfo['name']}} ({{bookInfo['value']}})</title>
    {% else %}
        <title>eBookReader</title>
    {% endif %}
</head>
<body>
    <header id="header">
        <a href="/"><h2>eBookReader</h2></a>
        {% if bookInfo %}
            <p>
                <span class="headName">{{bookInfo['name']}} </span>
                / <input class="headInput" name="headValue" type="text" value="{{bookInfo['value']}}" />권(화)
                / <input class="headInput" name="headLine" type="text" value="{{bookInfo['line']}}" />줄
                <button id="headButton">이동</button>
            </p>
        {% endif %}
    </header>
    <sidebar id="sidebar">
        <ul>
            {% for bookName in bookList %}
                <a href="/{{bookName}}"><li>{{bookName}}</li></a>
            {% endfor %}
        </ul>
    </sidebar>
    <contents id="contents">
        {% block content %} {% endblock %}
    </contents>
    <footer id="footer">
        footer
    </footer>
</body>
</html>
