<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if bookInfo %}
    <title>eBookReader - {{bookInfo['name']}} ({{bookInfo['volume']}})</title>
    <script>
        let bookInfo = {{ bookInfo | tojson }}
        let bookList = {{bookList | tojson}}
    </script>
    {% else %}
    <title>eBookReader</title>
    <script>
        let bookList = {{bookList | tojson}}
    </script>
    {% endif %}
    <script src="{{url_for('static',filename='script.js')}}"></script>
</head>
<body>
    <header id="header">
        <a href="/"><h2 id="headTitle">eBookReader</h2></a>
        {% if bookInfo %}
        <p>
            <span id="headName">{{bookInfo['name']}} </span>
            / <input id="headVolume" class="headInput" name="headValue" type="text" value="{{bookInfo['volume']}}" />권(화)
            / <input id="headLine" class="headInput" name="headLine" type="text" value="{{bookInfo['line']}}" />줄
            <button id="headButton">이동</button>
        </p>
        {% endif %}
    </header>
    <sidebar id="sidebar">
        <ul>
            <li>- 제목순</li>
            {% for bookName in bookList %}
            <a href="/read/{{bookName}}"><li class="bookList">{{bookName}}</li></a>
            {% endfor %}
        </ul>
    </sidebar>
    <contents id="contents">
        {% block content %} {% endblock %}
    </contents>
    <footer id="footer">
        CkriT (ckrit3@gmail.com)
    </footer>
{% if bookInfo %}
<script>
    accentSelectBook()
    useNavBar()
</script>
{% endif %}
</body>
</html>
