{% extends 'indexAdmin.html' %}

{% block content %}
{% if contents %}
<span>{{bookInfo['name']}} / </span><span id="insVolume">{{bookInfo['volume']}}</span><span> 권(화)</span>
<button class="insBtn" onclick="insertContents()">완료</button>
<button class="insBtn" onclick="prevPage()">취소</button><br>
<textarea id="contentsArea">{{contents}}</textarea>
{% else %}
<span>{{bookInfo['name']}} / </span>
<input id="insVolume" value="{{bookInfo['lastVolume']+1}}">권(화) 
<button class="insBtn" onclick="insertContents()">완료</button>
<button class="insBtn" onclick="prevPage()">취소</button><br>
<textarea id="contentsArea"></textarea>
{% endif %}
{% endblock %}
