<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBookReader - adminPassword</title>
</head>
<body>
    <form action="/admin" method="post">
        <label for="password">password</label>
        <input id="pwinput" type="password" name="password">
        <button id="pwBtn" type="submit">enter</button>
    </form>
    <script>
        document.getElementById("pwinput").focus()
    </script>
</body>
</html>
