{% extends 'indexAdmin.html' %}

{% block content %}
<ul>
    {% for volume in volumes %}
    <li class="volume">
        <a href="/admin/{{bookInfo['name']}}/{{volume}}"><span id="boxvol{{loop.index}}">{{volume}}</span></a><br>
        <span id="modvol{{loop.index}}" class="lineBtn" onclick="changeInput('vol','{{loop.index}}')">✏️</span>
        <span id="delvol{{loop.index}}" class="lineBtn" onclick="deleteTarget('vol','{{loop.index}}')">❌</span>
    </li>
    {% endfor %}
    <li class="volume" onclick="insertVolume()">➕</li>
</ul>
{% endblock %}
